body{
  background: #4d7af5;
}

.App{
  background:#2d397e;
  width: 600px;
  min-height: 600px;
  margin:40px auto;
}
.App input{
  margin: 20px 40px 20px 125px;
  padding:10px 20px;
  font-size:20px;
  background: #189707;
  border:none;
  color:#fff;
  border-radius: 10px;
}
.App input::placeholder{
  color:#fff;
}
.App input:focus{
  outline:none;
}
.App button{
  font-size:16px;
  padding: 10px 20px;
  background:#e4a71b;
  border:none;
  border-radius: 10px;
  cursor: pointer;
}
.App button:focus{
  outline:none;
}

